/* $orange: rgb(255, 90, 0); */

.verytop {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  .webName {
    font-family: "Microsoft YaHei";
    font-size: 2rem;
    font-weight: bold;
    margin: 0.5rem;
  }
  img{
    width: 100%;
  }
}
